html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
html {
  display: table;
}
body {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
footer {
  text-align: center;
  font-family: 'Arial';
  position: fixed;
  bottom: 0;
  width: 100%;
}
